{
    "presets": ["es2015"],
    "plugins": ["transform-es2015-modules-amd"],
    "moduleIds": true,
    "sourceRoot": "src",
    "moduleRoot": "snew",
    "ignore": [
        "src/snew.js"
    ],
    "env": {
        "test": {
            "plugins": ["istanbul"]
        }
    }
}